<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" [routerLink]="'.'">navbar</a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"></li>
        </ul>
        <ul *ngIf="login" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/changepassword">change password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="clickLogout()">{{ username }} Logout</a>
            </li>
        </ul>
    </div>
</nav>