<!-- Default form login -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input [(ngModel)]="loginUserData.username" name="Username" type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username">

    <!-- Password -->
    <input [(ngModel)]="loginUserData.password" name="Password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
    
    <button (click)="cliclLogin()" class="btn btn-primary col-4" type="submit">Sign in</button>
    <p>Not a member?
        <a [routerLink]="['/register']">Register</a>
    </p>

</form>
<!-- Default form login -->