<app-navbar></app-navbar>

<div class="container">
    <h2>change-password</h2>
    <form class="text-center border border-light p-3">
        <div class="wrap">
            <h5> Current Password</h5>
            <input [(ngModel)]="password.currentPassword" name="Current" type="text" class="form-control" />
        </div>
        <div class="wrap">
            <h5>
                New Password
            </h5>
            <input [(ngModel)]="password.newPassword" name="New" type="text" class="form-control" />
        </div>


        <div class="wrapbtn">
            <button (click)="change()" class="btn btn-primary col-4">Update Password</button>
            <button (click)="cancel()" class="btn btn-danger col-4">cancel</button>
        </div>
    </form>
</div>