<app-navbar></app-navbar>

<div class="container">
    <div class="pagetodo">
        <h2>
            To do:
        </h2>
        <div class="row">
            <div class="col-md-10">
                <input [(ngModel)]="todoData.todos" name="Todo" id="typeahead-basic" type="text" class="form-control" />
            </div>
            <div class="col-md-2">
                <button (click)="addTodo()" class="btn btn-primary col-12" type="submit">Add</button>
            </div>
        </div>

        <div class="content">
            <div class="wrap-todo" *ngFor="let todo of todoList; index as i">
                <div class="row">
                    <div class="col-md-8 col-12">
                        <input [(ngModel)]="todo.todos" name="Todo" type="text" class="form-control" />
                    </div>
                    <div class="col-md-2 col-6">
                        <button (click)="updateTodo(i)" class="btn btn-success col-12" type="submit">Update</button>
                    </div>
                    <div class="col-md-2 col-6">
                        <button (click)="deleteTodo(i)" class="btn btn-danger col-12" type="submit">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>