<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Register</p>
    <div class="row wrap">
        <div class="col-12">
            Username
        </div>
        <div class="col-12">
            <input [(ngModel)]="registerUserData.username" name="username" type="text" id="defaultLoginFormUsername"
                class="form-control mb-4" placeholder="Username" required>
        </div>
    </div>

    <div class="row wrap">
        <div class="col-12">
            Password
        </div>
        <div class="col-12">
            <input [(ngModel)]="registerUserData.password" name="password" type="password" id="defaultLoginFormPassword"
                class="form-control mb-4" placeholder="Password" required>
        </div>
    </div>

    <div class="row wrap">
        <div class="col-12">
            Firstname
        </div>
        <div class="col-12">
            <input [(ngModel)]="registerUserData.firstname" name="firstname" type="text" id="defaultLoginFormPassword"
                class="form-control mb-4" placeholder="Firstname" required>
        </div>
    </div>

    <div class="row wrap">
        <div class="col-12">
            Lastname
        </div>
        <div class="col-12">
            <input [(ngModel)]="registerUserData.lastname" name="lastname" type="text" id="defaultLoginFormPassword"
                class="form-control mb-4" placeholder="Lastname" required>
        </div>
    </div>

    <div class="wrapbtn">
        <button (click)="registerUser()" class="btn btn-primary col-4">register</button>
        <button (click)="cancelRegister()" class="btn btn-danger col-4">cancel</button>
    </div>

</form>